.all-orders-h1 {
    color: #F77586;
    font-size: larger;
}

.allOrdersPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.allOrdersPage h1 {
    padding-bottom: 10px;
    color: #F77586;
}

.all-table-wrapper {
    max-height: 360px;
    overflow-x: auto;
}

.all-orders-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.all-orders-table th,
.all-orders-table td {
    border: 1px solid #007575;
    padding: 10px;
}

.all-orders-table th {
    position: sticky;
    top: 0;
    background-color: #008C93;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.all-orders-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.all-orders-table tbody tr:nth-child(odd) {
    background-color: rgb(236, 255, 255);
}

.all-orders-table tbody tr:hover {
    background-color: #f5f5f5;
}

.all-orders-table td {
    display: table-cell;
}

.pending-status {
    color: red;
}

.ready-status {
    color: green;
}

.preparing-status {
    color: #ff6200;
}

.all-orders-table button {
    background-color: #00a3ab;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

.all-orders-table button:hover {
    background-color: #F77586;
}


@media (max-width: 920px) {
    .table-wrapper {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .orders-table th,
    .orders-table td {
        padding: 4px;
    }

    .orders-table th {
        font-size: 14px;
    }

    .orders-table td {
        font-size: 12px;
    }
}


@media (max-width: 840px) {
    .allOrdersPage h1 {
        padding: 30% 0 5% 0;
        color: #F77586;
    }

    .all-table-wrapper {
        overflow-x: auto;
    }

    .all-orders-table {
        padding-bottom: 30%;
        display: block;
        width: 200%;
    }

    .all-orders-table thead {
        display: none;
    }

    .all-orders-table td {
        display: block;
        text-align: right;
        font-size: medium;
    }

    .all-orders-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: #006464;
        margin-right: 5px;
    }

    .all-orders-table tbody tr {
        border-bottom: 15px solid #007575;
    }

    .all-orders-table tbody tr:last-child {
        border-bottom: 1px solid #007575;
    }

    .all-orders-table td:last-child {
        border-bottom: 0;
    }

    .all-orders-table td:nth-child(1):before {
        content: "ID: ";
    }

    .all-orders-table td:nth-child(2):before {
        content: "User: ";
    }

    .all-orders-table td:nth-child(3):before {
        content: "Products: ";
    }

    .all-orders-table td:nth-child(4):before {
        content: "Total Price: ";
    }

    .all-orders-table td:nth-child(5):before {
        content: "Status: ";
    }

    .all-orders-table td:nth-child(6):before {
        content: "Estimated Pick up: ";
    }

    .all-orders-table td:nth-child(7):before {
        content: "Delete: ";
    }
}
