.footer {
    background-color: #f0617e;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    animation: 1.5s ease-out 0s 1 slideInfooter;

}

@keyframes slideInfooter {
    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translatey(0);
    }
}

.root {
    width: 400%;
}