body main .homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAEADB;
    color: #c89797;
}

.homePageImg {
    width: 100%;,
    height 100%
}
