body main .homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAEADB;
    color: #c89797;

}
.homePageImg{
    background-color: red;
}
.background {
    background-size: cover;
    background-position: center;
}
#root {
    width: 100%;
    height: 100%;
    background-color: red;
    background-size: cover;
    background-position: center;
}

