.container{
    position: relative;
    justify-content: center;
    align-items: center;
 }

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
}

.container form label span {
    margin: 2px;

}
