menu-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.menu-header {
    order: -1;
    margin-top: 8rem;
    margin-bottom: 3rem;
    color: #F77586;
    text-align: center;
}

.menu-card {
    width: 16rem;
    color: #008C93;
    background-color: white;
    border: 1px solid #F77586;
    text-align: center;
    margin: 1rem;
}

.menu-card p {
    font-size: 14px;
    margin: 10px;
}

.menu-card h1 {
    font-size: 22px;
    margin-top: 10px;
}

.menu-card h2 {
    font-size: 18px;
}

.menu-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    margin-left: 3rem;
}

.add-to-cart {
    text-align: center;
}

.add-to-cart button {
    background-color: #FAEADB;
    border-radius: 8px;
    margin: 8px;
    color: #F77586;
    border: 1px solid #F77586;
}

.add-to-cart button:hover {
    border: 1px solid #008C93;
    color: #008C93;
}

.item-price {
    border-bottom: 1px solid #008C93;
    border-top: 3px solid rgba(1, 167, 175, 0.7);
    border-radius: 1px;
    padding: 8px;
}

.update-button {
    background-color: #F77586;
    border: 1px solid #fbb040;
    border-radius: 8px;
    margin: 8px;
}

.update-button:hover {
    background-color: #008C93;
    color: #fbb040;
    border-color: #fbb040;
}