.menu-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 5rem;
    justify-content: center;

}

.menu-header {
    order: -1;
    margin-bottom: 20px;
    color: #F77586;
    text-align: center;
    margin-top: 6rem;
}

.menu-card {
    width: 16rem;
    color: #008C93;

    border: 2px inset #f9fbf9;
    background: linear-gradient(to left, #dad8d3, #fefdfd);
    text-align: center;
    margin: 1rem;
    height: 42rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3%;
}

.menu-card p {
    font-size: 14px;
    margin: 10px;
}

.menu-card h1 {
    font-size: 22px;
    margin-top: 10px;
}

.menu-card h2 {
    font-size: 18px;
}

.menu-pic {
    width: 100%;
    height: 210px;
    object-fit: cover;
    background: linear-gradient(to bottom, #e6c37b, #d77377);
}

.menu-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-to-cart {
    text-align: center;
}

.add-to-cart button {
    background-color: #FAEADB;
    border-radius: 8px;
    margin: 8px;
    color: #F77586;
    border: 1px solid #F77586;
}

.add-to-cart button:hover {
    border: 1px solid #008C93;
    color: #008C93;
}

.item-price {
    border-bottom: 1px solid #008C93;
    border-top: 3px solid rgba(1, 167, 175, 0.7);
    border-radius: 100px;
    padding: 8px;
    margin: 0 35px 5px 35px;
}


@media screen and (max-width: 868px) {
    .menu-header {
        order: -1;
        margin-bottom: 20px;
        margin-top: 10rem;
        color: #F77586;
        text-align: center;
    }
    .menu-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.update-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F77586;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 10px 15px 10px;
    text-decoration: none;
}

.update-button:hover {
    background-color: #36cef0;
    color: white;
}

.edit-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F77586;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


.edit-details form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
}

.edit-details form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.edit-details form button {
    margin: 10px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #FAEADB;
    color: #F77586;
    font-weight: bold;
    cursor: pointer;
}

.edit-details form button:hover {
    background-color: #36cef0;
}