/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkturquoise;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Logo */
.navbar h1 {
    margin: 0;
    font-size: 36px;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

/* Navigation buttons */
.nav-buttons button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
}