.orders-page {
    padding: 2rem;
}

.orders-page h1 {
    color: #F77586;
}

.orders-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.orders-table th,
.orders-table td {
    border: 1px solid #adc3c3;
    padding: 1rem;

}


.orders-table th {
    background-color: #008C93;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.orders-table  {
    background-color: rgba(249, 249, 249, 0.22);
    cursor: default;
}


.orders-table .order-id {
    color: #0077cc;
}

.orders-table .customer-name {
    font-weight: bold;
}

.orders-table .order-total {
    font-weight: bold;
}

.myOrdersPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pending-status {
    color: red;
}

.ready-status {
    color: green;
}

.preparing-status  {
    color: orange;
}

